@media screen and (max-width: 420px) {

    /*HEADER*/
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu {
        display: none;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a {
        display: block;
        padding: 8px;
    }
    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
        margin-top: 18px;
        padding: 5px;
    }
    .toggle-button:after {
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }
    .header-container  a {
        margin-right: -65px;
    }
    .main-menu {
        position: relative;
        top: 50px;
        left: 0px;
    }

    /*MAIN*/
    .top-slide {
        max-width: 100%;
        height: 100%;
    }

    .top-container {
        padding: 40px 0;
    }

    .top-slide h2 {
        font-size: 32px;
    }

    .top-slide p {
        font-size: 16px;
    }
}