@import 'media_queries.css';

body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

/*--------------------------------HEADER------------------------------------*/

header {
    background-color: #f6f6f6;
    padding: 22px 0;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin-right: 63px;
    padding: 27px 6px; 
}

.header-container a:hover {
    background-color: #ffea00;
}

#menu-checkbox {
    display: none;
}

ul {
    display: flex;
}

li {
    list-style: none;
    display: flex;
}

nav {
    margin-top: 18px;
}

/*------------------------------MAIN-------------------------*/

.top-slide {
    background: url(/img/slider_bg.jpg);
    max-width: 100%;
    height: 700;
}

.top-container {
    padding: 120px 0;
    width: 85%;
    margin: auto;
}

.top-slide h2 {
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 70px;
    background-color: #ffea00;
    display: inline;
    padding: 0 13px;
}

.top-slide :nth-child(2) {
    margin-bottom: 10px;
}

.top-slide p {
    color: #fff;
    font-size: 24px;
    background-color: #414146;
    display: inline;
    padding: 0 5px;
}

/*---------------------WE CREATE QUALITY DESIGNS BLOCK-----------------------*/

.specialize-container {
    padding: 40px 0 60px 0;
    width: 80%;
    margin: auto;
    text-align: center;
}

.specialize-container h3 {
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.specialize-container p {
    font-size: 24px;
}

.specialize-cards {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.top-card {
    display: block;
    width: 250px;
    height: 208px;
    background-color: #ffea00;
    text-align: center;
}

.top-card p {
    color: #000000;
    letter-spacing: 2px;
    font-size: 20px;
}

.top-card-p1 {
    padding-top: 37px;
}

.top-card-p2 {
    padding-top: 42px;
}

.top-card-p3 {
    padding-top: 31px;
}

.vector-img1 {
    padding-top: 40px;
}

.vector-img2 {
    padding-top: 44px;
}

.vector-img3 {
    padding-top: 33px;
}

.bottom-card {
    padding-top: 10px;
    background-color: #414146;
    width: 250px;
    height: 80px;
    text-align: center;
    font-size: 20px;
}


.bottom-card-p {
    color: #fff;
}

/*---------------------------------OUR WORK BLOCK----------------------------------*/

.portfolio {
    margin: 40px auto;
    text-align: center;
}

.portfolio h4 {
    width: 160px;
    height: 30px;
    padding-top: 3px;
    margin: auto;
    background-color: #424147;
    color: #ffea00;
    font-size: 18px;
}

.portfolio p {
    margin-top: 25px;
    color: #424146;
}

/*-------------------- POSTS --------------------*/

.toggles button {
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 25px 5px;
}

.posts {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
}

/*-------------------- SLIDER --------------------*/

.brand-slider {
    margin: 40px auto;
    text-align: center;
}

.brand-slider h4 {
    width: 160px;
    height: 30px;
    padding-top: 3px;
    margin: auto;
    background-color: #424147;
    color: #ffea00;
    font-size: 18px;
}

.brand-slider p {
    margin-top: 25px;
    color: #424146;
    margin-bottom: 30px;
}


.owl-carousel {
    width: 90%;
    margin: 0 auto;
}

.owl-carousel::before {
    content: owl-prev;
}

/*---------------------- FOOTER ---------------------------*/

footer {
    background-color: #414146;
    color: #fff;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
}

.footer-container span {
    color: #ffea00;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 15px;
}


.about-us a {
    margin: 30px 0;
    background-color: #000000;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 2px #ffea00;
    text-decoration: none;
    display: inline-block;
}


input[type=text] {
    background-color: #414146;
    width: 80%;
    padding: 5px 5px;
    height: 28px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ffea00;
    outline: none;
  }

.footer-navigation {
    background-color: #000;
    height: 70px;
}

.footer-navigation ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.footer-navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: 25px 30px 0 0;
}







/*---------------------- MEDIA QUERIES --------------------*/
/*
@media screen and (max-width: 420px) {

    /*HEADER
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu {
        display: none;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a {
        display: block;
        padding: 8px;
    }
    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
        margin-top: 18px;
        padding: 5px;
    }
    .toggle-button:after {
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }
    .header-container  a {
        margin-right: -65px;
    }
    .main-menu {
        position: relative;
        top: 50px;
        left: 0px;
    }

    /*---------MAIN------------

    .top-container {
        padding: 40px 0;
    }

    .top-slide h2 {
        font-size: 32px;
    }

    .top-slide p {
        font-size: 16px;
    }

    .specialize-container p {
        font-size: 16px;
    }

    .specialize-cards {
        flex-direction: column;
    }

    .top-card {
        margin: 0 auto;
    }

    .bottom-card {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .posts {
        grid-template-columns: auto;
    }
}
*/